@import "./variables.scss";

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spaceB {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin underlinedOnHover {
    &::before {
        position: absolute;
        content: '';
        left: -100%;
        bottom: 0;
        width: 100%;
        background-color: $main;
        height: 3px;
        transition: 250ms;
    }

    &:hover::before {
        left: 0;
    }
}

@mixin underlined {
    &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $main;
        height: 3px;
        transition: 250ms;
    }
}

@mixin submitClearButtons {
    min-width: 120px;
    aspect-ratio: 2/1;

    margin: 50px 0px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 250ms;
    opacity: .5;
}